<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin to view profile</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        body {
            background-color: #070707;
            color: white;
        }

        p {
            margin-top: 1rem;
        }

        button {
            margin-top: 1.5rem;
            background-color: dodgerblue;
        }
    </style>
</head>

<body>
    <nav style="display: flex; gap: 1rem; margin-top: 1rem;">
        {% if not user.is_authenticated %}

        {% url 'register_page' as register_url %}
        {% if request.path == register_url %}
        <a href="{% url 'login_page' %}">Login</a>
        {% else %}
        <a href="{% url 'register_page' %}">Register</a>
        {% endif %}

        {% endif %}
        <a href="{% url 'home_page' %}">Home</a>
    </nav>
    {% block body %}Users layout{% endblock %}
</body>

</html>